$black: #000;
$brown: #6b430c;
$deep-blue: #204269;
$gold: #fec;
$gold-90: #a99877;
$green: #41e041;
$light-blue: #9cf;
$orange: #ff8c10;
$orange-90: #e37434;
$pink: #EBB2A7;
$pink-90: #e39f78;
$purple: #9655C2;
$red: #f13d3d;
$white: #F4E2E2;
$white-90: #f4e2e2;
$yellow: #ffc600;

$radius-8: 8px;
$radius-4: 4px;

// screens
$ui-mobile: 320px;
$ui-mobile-portrait: 600px;
$ui-tablet: 768px;
$ui-laptop: 1024px;
$ui-desktop: 1440px;