.overwatch {
  background: url("../../assets/images/overwatch-bg.png") center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: absolute;

  &__container {
    margin-left: auto;
    width: calc(100% - 170px);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  &__button {
    align-self: center;
  }

  &__inner {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 50px;
    align-self: center;
    justify-content: space-between;
  }
  
  &__users {
    grid-column: 1 / span 3;
  }

  &__clans-winrate {
    grid-column: 4 / span 3;
  }
  
  &__tank {
    grid-column: 1 / span 2;
  }

  &__damage {
    grid-column: 3 / span 2;
  }

  &__healer {
    grid-column: 5 / span 2;
  }
  
  @include ui-mobile-only {
    &__container {
      margin-top: 90px;
      width: 100%;
      margin-left: 0;
      padding: 0 20px 20px 20px;
    }
    
    &__inner {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }

    &__tank,
    &__users,
    &__damage,
    &__healer,
    &__clans-winrate, {
      grid-column: 1 / span 6;
    }
  }
}